[Unit]
Description=docker-compose %i service
Requires=docker.service network-online.target
After=docker.service network-online.target

[Service]
Type=simple
WorkingDirectory=/etc/docker-compose/%i
ExecStart=/usr/local/bin/docker-compose up --abort-on-container-exit
ExecStop=/usr/local/bin/docker-compose rm --force --stop -v
Restart=always
RestartSec=10s
TimeoutSec=30min

[Install]
WantedBy=multi-user.target
