[Unit]
Description=docker-compose %i service
Wants=docker.service
After=docker.service

[Service]
Type=simple
WorkingDirectory=/etc/docker-compose/%i
ExecStart=/usr/local/bin/docker-compose-start
ExecStop=/usr/local/bin/docker-compose-stop
Restart=always
RestartSec=10s
TimeoutStopSec=60s

[Install]
WantedBy=multi-user.target
