[Unit]
Description=Upgrade Docker Compose helpers
Wants=docker.service
After=docker.service

[Timer]
OnCalendar=*-*-* 00:00:00
RandomizedDelaySec=10m
Persistent=true
Unit=docker-compose-helpers-upgrade.service

[Install]
WantedBy=timers.target
