[Unit]
Description=Upgrade Docker Compose
Wants=docker.service
After=docker.service

[Timer]
OnCalendar=*-*-* 00:30:00
RandomizedDelaySec=10m
Persistent=true
Unit=docker-compose-upgrade.service

[Install]
WantedBy=timers.target
