[Unit]
Description=docker-compose %i service
Wants=docker.service
After=docker.service

[Service]
Type=simple
WorkingDirectory=/etc/docker-compose/%i
ExecStart=/bin/sh -c 'docker-compose up'
ExecStop=/bin/sh -c 'docker-compose rm --force --stop -v'
Restart=always
RestartSec=10s
TimeoutStopSec=60s

[Install]
WantedBy=multi-user.target
