[Unit]
Description=docker-compose-backup %i service

[Service]
Type=oneshot
Environment=HOME=%h
ExecStart=/usr/local/bin/docker-compose-backup '%i'
TimeoutSec=180m
